<header></header>
<nav>
<%= link_to "Create an Event", new_event_path %>
<%= link_to "Create an Event", new_event_path %>
</nav>


<div class=container>
<h1>Welcome to FightCard </h1>


<p><%= link_to "Sign in as a Promoter", new_admin_session_path %> </p>
<p><%= link_to "Sign in as a Fighter", new_user_session_path %></p>
<p><%= link_to "I want to purchase tickets",


</div>
